extends ../exclude/base

block vars
  - var selected = 'about'
  - var color = 'indigo'
  - var themeColor = '#303F9F'

block content
  h1.header(class=colorText) What We Do
  h4.header
    | We are a completely student-run robotics club which builds and programs robots for the KIPR Botball competition.
  .row
    iframe.col.s12(width='854', height='450', src='https://www.youtube.com/embed/r_EpzX9w-Tg', frameborder='0', allowfullscreen='')
  h2.header What is Botball?
  h5.header
    a.black-text.waves-effect.hoverable.header(href='http://botball.org/what-is-botball') Text taken from botball.org
  .row
    .col.s12.m6
      .card-panel.lighten-1.hoverable.valign-wrapper(style='height: 175px', class=color)
        span.white-text.cardtext.valign
          | The Botball® Educational Robotics Program engages middle and high school aged students in a team-oriented robotics competition, and serves as a perfect way to meet today's new common core standards.
    .col.s12.m6
      .card-panel.hoverable.valign-wrapper(style='height: 175px', class=color)
        span.white-text.cardtext.valign
          | By exposing students to an inquiry-based, learn-by-doing activity that appeals to their hearts as well as their minds, Botball® addresses our nation's need for a well-prepared, creative, yet disciplined workforce with leadership and teamwork experience.
    .col.s12.m6
      .card.darken-2.hoverable(class=color)
        .card-image
          img(src='imgs/homepage/working.jpg')
        .card-content
          p.cardtext.white-text
            | In January, February, and March, the Botball® Educator Workshops provide team leaders and mentors
            | with technology training and introduce the details of that year's game.
    .col.s12.m6
      .card.darken-3.hoverable(class=color)
        .card-image
          img(src='imgs/homepage/competition.jpg')
        .card-content
          p.cardtext.white-text
            | Then, after a build period of about 7 weeks, students bring their robots to their regional tournament
            | to compete against other students in the current season's game challenge.
  h5.header
    | Students use science, engineering, technology, math, and writing skills to design, build, program, and document robots
    | in a hands-on project that reinforces their learning by:
  .row
    .col.s12.m6
      .card.red.lighten-2.hoverable
        .card-content.white-text
          i.material-icons(style='font-size:20px') code
          span.card-title  Programming
          p.cardtext
            | The robots are always autonomous! Botball® gives students the tools to develop sophisticated
            | strategies using artificial intelligence with embedded systems. Students will learn to program
            | their robots in advance using C, C++, and Java.
        .card-action
          a.white-text.waves-effect(href='http://www.botball.org/what-is-botball#autonomous') Learn More
    .col.s12.m6
      .card.green.lighten-2.hoverable
        .card-content.white-text
          i.material-icons(style='font-size:20px') build
          span.card-title  Engineering
          p.cardtext
            | No need for power tools or a machine shop. Competitors are at a level playing field with access to
            | all resources. The Botball® game kit provides various parts and pieces that get you going
            | toward building a working robot.
        .card-action
          a.white-text.waves-effect(href='http://www.botball.org/what-is-botball#engineering') Learn More
  .row
    h3.col.s12.center Botball National Sponsors
    .col.m4.s6.center.promo.hoverable
      img.sponsor-pic(src='http://www.botball.org/sites/default/files/nasalarge.png', height='96px')
      .sponsor
        h6.sponsor-caption.header NASA
    .col.m4.s6.center.promo.hoverable
      img.sponsor-pic(src='http://www.botball.org/sites/default/files/igus.png', height='96px')
      .sponsor
        h6.sponsor-caption.header igus
    .col.m4.s6.center.promo.hoverable
      img.sponsor-pic(src='http://www.botball.org/sites/default/files/irobot.png', height='96px', width='80%')
      .sponsor
        h6.sponsor-caption.header iRobot
    .col.m4.s6.center.promo.hoverable
      img.sponsor-pic(src='http://www.botball.org/sites/default/files/solidworks.png', height='96px', width='80%')
      .sponsor
        h6.sponsor-caption.header SolidWorks
    .col.m4.s6.center.promo.hoverable
      img.sponsor-pic(src='http://www.botball.org/sites/default/files/commonsense.png', height='96px', width='80%')
      .sponsor
        h6.sponsor-caption.header Common Sense RC
    .col.m4.s6.center.promo.hoverable
      img.sponsor-pic(src='imgs/logos/kipr.png', height='96px', width='50%')
      .sponsor
        h6.sponsor-caption.header Kiss Institute for Practical Robotics

block scripts
  script.
    $( document ).ready(function(){
    $('.active').parent().parent().siblings()[0].click() })
