extends ../exclude/base

block vars
  - var selected = 'donate'
  - var color = 'blue'
  - var themeColor = '#1976D2'

block content
  h1.header(class=colorText) We Need Your Help
  h4.header To be able to compete in the Botball Competition
  h5.header
    | The registration fee for the Los Angeles competition is $2200. Costs increase if we qualify for further rounds of
    | the competition.
  .video-container
    iframe(width='853', height='480', src='http://www.youtube.com/embed/r_EpzX9w-Tg?rel=0', frameborder='0', allowfullscreen='')
  #watch-vid.row
    .col.s12
      .card-panel.darken-1(class=color)
        h4.white-text Donate Now!
        p.white-text.cardtext Information on how you can make your tax-deductable donation today!
        a.darken-4.waves-effect.btn.btn-large.modal-trigger(href='#donate-now', style='width:100%', class=color) Donate Now!
  .row
  #new-supportus-page.modal
    .modal-content
      h4.header Visit our new Support Us page!
      p
        | Our new and improved support us page has much more information about what you can do to support us!
    .modal-footer
      a.modal-action.modal-close.waves-effect.btn-flat(href='supportus.html', class=colorText) Go Now!
      a.modal-action.modal-close.waves-effect.btn-flat.waves-red Stay Here
  // Modal Structure
  #donate-now.modal.modal-fixed-footer
    .modal-content
      h4.header Thank You For Your Interest In Donating!
      p
        | Any donation goes a long way.
        br
        | All donations are tax-deductable. Our nonprofit tax id number is 95-1916048. If you want to donate
        |                     with a check, you can find all contact information on the contact us page. All checks should be made
        |                     payable to North Hollywood High School Student Body and the check should mention 'Botball' in the memo
        |                     section. That way you can make sure the money gets to us.
        br
        | Example:
      img.center-horiz(src='imgs/check.png', width='85%')
      p
        | You can also donate through PayPal. We don't recommend this method since PayPal takes a large percentage
        | of the donation. Also, since the PayPal account is for our school, it is not as easy for us to access.
        | If you do donate through PayPal, state that the donation is for Botball somewhere in the seller instructions.
      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='5Z343A74B35XW')
        button.btn.waves-effect.center-horiz(type='submit', style='width:70%') Donate With PayPal
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='contact.html') Donate with check
  h2.header Why Donate?
  h5.header
    | The Botball competition is very expensive - registration for the Los Angeles competition costs $2200. There are also
    | other costs, like building our own game board for practicing. Not only that, but the cost only goes up should
    | we make it past round one. We would need to cover transportation and lodging costs.
  .row
    .col.s12.m6
      .card-panel.hoverable.darken-3(class=color)
        h4.white-text You Get
        span.white-text
          h6.cardtext
            | Your company's logo on our team t-shirts (if we raise over $200 total), our website, and even our robot. The logo on our website will link to your website and has a customizable line of text underneath.
    .col.s12.m6
      .card-panel.hoverable(class=color)
        h4.white-text We Get
        span.white-text
          h6.cardtext
            | Funding for our team. Since this is a student-run club, we need funding for transportaion, competition fees, website hosting fees, and building our practice game board. Anything you can give goes a long way.
  h2.header If You Donate
  .row
    .col.s12.m6
      .card-panel.hoverable.lighten-3(style='height:175px', class=color)
        h4.white-text $12 - Virtual Hug
        span.white-text
          h6.cardtext
            | The title explains it all. You get our happiness, along with a personalized thank you message, your name on our T-Shirt (minimum $200 Raised) and a virtual hug!
    .col.s12.m6
      .card-panel.hoverable.lighten-2(style='height:175px', class=color)
        h4.white-text $36 - Team T-Shirt
        span.white-text
          h6.cardtext
            | You get a personalized thank you message and your very own team T-shirt featuring your name! (Shipping provided for continental US only)
    .col.s12.m6
      .card-panel.hoverable.lighten-1(style='height:200px', class=color)
        h4.white-text $110 - 5% of the Total Cost
        span.white-text
          h6.cardtext
            | You cover 5% of the registration costs for the Los Angeles Regional Botball Competion. You get a logo icon on our t-shirts, a logo icon on our website, a team t-shirt, and access to competition photos.
    .col.s12.m6
      .card-panel.hoverable(style='height:200px', class=color)
        h4.white-text $220 - 10% of the Total Cost
        span.white-text
          h6.cardtext
            | You cover the cost of 10% of the registration fee for the Los Angeles Regional Botball Competition. You can also have a full logo printed on our t-shirts, a logo on our website, a team t-shirt, and access to competition photos.
    .col.s12.m6
      .card-panel.hoverable.darken-1(style='height:200px', class=color)
        h4.white-text $550 - Logo on Robot!
        span.white-text
          h6.cardtext
            | You cover 25% of the registration fee for the Los Angeles Regional Botball Competition. You can have a full logo printed on our t-shirts, a full logo on our website, a team t-shirt, access to competition photos, and an easily visible logo on one of our robots in the competition!.
    .col.s12.m6
      .card-panel.hoverable.darken-2(style='height:200px', class=color)
        h4.white-text $1100 - Gold Sponsor
        span.white-text
          h6.cardtext
            | You cover 50% of the registration fee for the Los Angeles Regional Botball Competition. You can have a large logo printed on our t-shirts, a large logo on our website in the gold sponsor category, a team t-shirt, access to competition photos, and an easily visible logo on all of our competing robots!
    .col.s12
      .card-panel.hoverable.darken-4(class=color)
        h4.white-text Top Donor
        span.white-text
          h6.cardtext
            | The top donor will receive all of the aforementioned rewards - your logo on our website, t-shirts, and robots, a team t-shirt, and access to competition photos - but your company will be featured as our premiere sponsor and will be listed at the top of our list of sponsors everywhere logos are displayed. Your logo will also be larger than any other as a way for us to show our gratitude for your donation.
  .row
    h3.col.s12.center Our Sponsors
    .col.m4.s6.center.promo.hoverable
      a.black-text(href='http://www.solidworks.com/')
        img.sponsor-pic(alt='SolidWorks', src='imgs/logos/solidworks.png', width='', height='96px')
        .sponsor
          p.sponsor-caption(style='font-weight:400')
            strong(style='font-weight:500') Solid
            | Works
    .col.m4.s6.center.promo.hoverable
      a.black-text(href='supportus.html')
        i.large.material-icons.teal-text.sponsor-pic help
        .sponsor
          h6.sponsor-caption.header Your Logo Here
          h6.sponsortext.header Your Custom Text Line Here
    .col.m4.s6.center.promo.hoverable
      a.black-text(href='supportus.html')
        i.large.material-icons.teal-text.sponsor-pic help
        .sponsor
          h6.sponsor-caption.header Your Logo Here
          h6.sponsortext.header Your Custom Text Line Here
    .col.m4.s6.center.promo.hoverable
      a.black-text(href='supportus.html')
        i.large.material-icons.teal-text.sponsor-pic help
        .sponsor
          h6.sponsor-caption.header Your Logo Here
          h6.sponsortext.header Your Custom Text Line Here
    .col.m4.s6.center.promo.hoverable
      a.black-text(href='supportus.html')
        i.large.material-icons.teal-text.sponsor-pic help
        .sponsor
          h6.sponsor-caption.header Your Logo Here
          h6.sponsortext.header Your Custom Text Line Here
    .col.m4.s6.center.promo.hoverable
      a.black-text(href='supportus.html')
        i.large.material-icons.teal-text.sponsor-pic help
        .sponsor
          h6.sponsor-caption.header Your Logo Here
          h6.sponsortext.header Your Custom Text Line Here

block scripts
  script.
    $( document ).ready(function(){
    $('.modal-trigger').leanModal();
    $('#new-supportus-page').openModal();
    })
