extends ../exclude/base

block vars
  - var selected = "team"
  - var color = "purple"
  - var themeColor = "#9C27B0"

block content
  h1.header(class=color + '-text') Our Team
  h4.header
    | Teamwork is key to building a succesful robot. We have to work together and coordinate in order to face the time
    | and material restrictions placed upon us. Here is what each of our members does on our team.
  .row
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Jewook Ryu - Team Captain
          p.card-text
            | As the team captain, Jewook decides objectives in each meeting, keeps track of any documentation
            | and paperwork due, directs the progress of all departments, communicates with school staff to
            | organize events, and makes most of the team announcements.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Aled Cuda - Head Programmer
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Nathan White
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Vishy Vasudevan
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Jonathan Liu - Head Engineer
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Aaron Opell
          p.card-text
            | Aaron is a programmer who also does other things for the team such as fundraising and team management
            | through communication and social pages. He also designed and continues to manage this website.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Jaren Mendelsohn
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Michael Kazantsev
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
    .col.s12.m4
      .card.darken-3(class=color)
        .card-content.white-text
          span.card-title Ari Bermudes
          p.card-text
            | This is a message about Botball and our team and stuff that was written by the person listed above.
